body{
    background: #ffeab0;
    font-family: 'Binggrae';
}

.img_box{
    background: #fff;
}


.container2{
    text-align: center;
    display: table;
    border: 1px ;
    padding: 45px 0 0 0;
      
}


.img_box img{
    display: table-cell;
    align-items: flex-end;
    max-width: 100%;
    max-height: 100%;
}

